.review-item-container img{
    width: 91px;
}
.review-item-container{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin-top: 21px;
    padding: 8px;
    width: 571px;
}
.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-details p{
    margin: 0;
}
.review-item-container .dlt-button{
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
    cursor: pointer;
}
.btn-icon{
    color: #EB5757;
    font-size: 27px;
    

}